:80
root * /usr/share/caddy
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

basicauth /022f40fb-34e6-47ea-96f4-93299b955b5e/* {
    022f40fb-34e6-47ea-96f4-93299b955b5e $2a$14$OvtHBReyCdUqS71qaLYiKuBaemRhm5cAOE7XHGPMhYIKgDlogT6bC
}

@websocket_xray_vmess {
header Connection *Upgrade*
header Upgrade    websocket
path /022f40fb-34e6-47ea-96f4-93299b955b5e-vmess
}
reverse_proxy @websocket_xray_vmess unix//etc/caddy/vmess


@websocket_xray_vless {
header Connection *Upgrade*
header Upgrade    websocket
path /022f40fb-34e6-47ea-96f4-93299b955b5e-vless
}
reverse_proxy @websocket_xray_vless unix//etc/caddy/vless

@websocket_xray_trojan {
header Connection *Upgrade*
header Upgrade    websocket
path /022f40fb-34e6-47ea-96f4-93299b955b5e-trojan
}
reverse_proxy @websocket_xray_trojan unix//etc/caddy/trojan

@websocket_xray_ss {
header Connection *Upgrade*
header Upgrade    websocket
path /022f40fb-34e6-47ea-96f4-93299b955b5e-ss
}
reverse_proxy @websocket_xray_ss 127.0.0.1:4234

@websocket_xray_socks {
header Connection *Upgrade*
header Upgrade    websocket
path /022f40fb-34e6-47ea-96f4-93299b955b5e-socks
}
reverse_proxy @websocket_xray_socks 127.0.0.1:5234

reverse_proxy @websocket_xray_socks 127.0.0.1:5234
